In [1]:
import pandas as pd

In [9]:
edges = pd.read_csv('map.edge', header=None, names=['start', 'end', 'length', 'bidirectional', 'name'])
edges.head()

    start     end  length  bidirectional          name
0     186   96267   57.00           True  Porvoonväylä
1   96267   69381   52.47           True  Porvoonväylä
2   69381   96244   74.90           True  Porvoonväylä
3   96244  163281   13.92           True  Porvoonväylä
4  163281   69351   60.85           True  Porvoonväylä